.accordion__content {
    display: grid;
    grid-template-rows: 0fr;

    transition-duration: 0.3s;
}

.accordion__content-body {

    overflow: hidden;
}
.accordion__details[open] + .accordion__content {
    grid-template-rows: 1fr;
}

header{
    background: linear-gradient(#FFFAFA, #fa0707);
}
ul{
    margin: 0;
    padding: 0px;
    list-style: none;
}
a {
    font-size: 40px;
    padding: 0px;
    color: yellow;
    text-decoration: none;
}
a:hover{
    color: #a907fa;
    text-decoration: none;
}
li{

    display: inline;
}
span1 {
    font-size: 50px;
    color: yellow;
    background: linear-gradient(#FFFAFA, #fa0707);
}
hp1 {
    font-size: 50px;
}
h {
    font-size: 64px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    animation: bounce 1s ease-out;
}

body {
    background-image:
        url(../img/fon.jpg);
        font-size: 300px;
}
h11{
    
    
    font-size: 50px;
    padding: 0px;
}
li {
    text-decoration: none;
}
li {
    background: linear-gradient
    (to right, transparent),
        linear-gradient(to, right,
        #ff0000, #fff200,
        #1e9600);
    background-size:  100% 3px,
    0 3px;
    background-position: 100%
    100%, 0 100%;
    background-repeat:
    no-repeat;
    transition: background-size
    400ms;
}
li:hover {
    background-size: 0 3px,
    100% 3px;
}
span1 {
    text-decoration: none;
}
.f {
    text-decoration: none;
    

    background: linear-gradient(to right, transparent, transparent),
    linear-gradient(to right, #ff0000, #fff200, #1e9600);
    font-size: 50px;
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}
.f:hover{
    background-size: 0 3px, 100% 3px;
    color:  purple;
    
    
}
.accordion{
    text-decoration: none;
    

    background: linear-gradient(to right, transparent, transparent),
    linear-gradient(to right, #ff0000, #fff200, #1e9600);
    font-size: 50px;
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}
.accordion:hover{
    background-size: 0 3px, 100% 3px;
    color:  purple;
    
    
}